.edraak-site-footer
  .edraak-container
    .edraak-row
      .edraak-col-sm-3
        %a{:href => 'http://www.qrf.org'}
          %img{:src => "https://www.edraak.org/static/images/qrf_logo.png"}
      .edraak-col-sm-3.edraak-section-social
        %ul.edraak-social
          %li
            %a{:href => 'https://www.facebook.com/edraakorg/'}
              %i.icomoon-facebook
          %li
            %a{:href => 'https://twitter.com/edraak'}
              %i.icomoon-twitter
          %li
            %a{:href => 'https://instagram.com/edraakorg'}
              %i.icomoon-instagram
          %li
            %a{:href => 'https://www.youtube.com/channel/UCboXAcT6m0T49x0zr-cQihQ'}
              %i.icomoon-youtube
          %li
            %a{:href => 'https://www.linkedin.com/company/edraak/'}
              %i.icomoon-linkedin
          %li
            %a{:href => 'https://www.arageek.com/edraak'}
              %i.svg-icon-arageek
        %span.edraak-copy © ٢٠٢٠ إدراك.
        %span.edraak-copy جميع الحقوق محفوظة.
      .edraak-col-sm-3
        %ul
          %li
            %a{:href => 'https://www.edraak.org/about-us/'} عن إدراك
          %li
            %a{:href => 'https://www.edraak.org/help/', :target => '_blank'} مركز المساعدة
          %li
            %a{:href => 'https://www.edraak.org/team/'} الفريق
          %li
            %a{:href => 'https://www.edraak.org/contact-us/', :target => '_blank'} اتصل بنا
      .edraak-col-sm-3
        %ul
          %li
            %a{:href => 'https://www.edraak.org/terms-of-service/'} شروط الخدمة
          %li
            %a{:href => 'https://www.edraak.org/blog', :target => '_blank'} المدونة
          %li
            %a{:href => 'https://www.edraak.org/privacy-policy/'} سياسة الخصوصية
          %li
            %a{:href => 'https://www.edraak.org/how-it-works/', :target => '_blank'} كيف تتعلم مع إدراك
