#hoc-certificate-image{:style=>"padding:0; margin: 0; box-sizing: border-box;"}
  %img{:src=>"#{raw_img}", :style=>"display: block; padding: 0; margin: auto; max-width: 100vw; max-height: 100vh; width: auto; height: auto;"}

:javascript
  $('.container.main').css('width', 'auto')
